astroid==2.15.5
autopep8==2.0.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
comtypes==1.1.14
dill==0.3.6
docstring-to-markdown==0.12
flake8==6.0.0
idna==3.4
isort==5.12.0
jedi==0.18.2
lazy-object-proxy==1.9.0
mccabe==0.7.0
packaging==23.1
parso==0.8.3
platformdirs==3.5.1
pluggy==1.0.0
pycodestyle==2.10.0
pydocstyle==6.3.0
pyflakes==3.0.1
pylint==2.17.4
pypiwin32==223
PyQt6==6.5.0
PyQt6-Qt6==6.5.0
PyQt6-sip==13.5.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.3
pytoolconfig==1.2.5
pyttsx3==2.90
pywin32==306
requests==2.31.0
rope==1.8.0
snowballstemmer==2.2.0
tomli==2.0.1
tomlkit==0.11.8
ujson==5.7.0
urllib3==2.0.2
whatthepatch==1.0.5
wrapt==1.15.0
yapf==0.33.0
